# Environment variables
.env
.env.local
.env.*.local

# Dependencies
/node_modules

# Build output
/dist

# IDE
/.vscode
.idea/

# Firebase credentials (if using JSON file approach)
firebase-admin-sdk.json
*-firebase-adminsdk-*.json

/src/prisma/generated
